/* font-family: 'Roboto', sans-serif; */


/* h1 {
    position: relative;
    text-align: center;
    top: 50%;
    right: 50%;
    font-size: 6em;
    transform: translate(-50%, -50%);
} */

#nav-bar {
    /* font-family: 'Roboto', sans-serif; */
    background-color: black;
    padding-left: 50px;
}

/* .img-container {
    position: relative;
    height: 914px;
    width: 100%;
} */

.img-container h1 {
    position: relative;
    color: black;
    font-size: 6em;
    /* padding-top: 20%;
    padding-left: 35%; */
}