/* font-family: 'Roboto', sans-serif; */

#nav-bar {
    /* font-family: 'Roboto', sans-serif; */
    background-color: black;
    padding-left: 50px;
}

/* .img-container {
    position: relative;
    height: 914px;
    width: 100%;
} */

.img-container h1 {
    position: absolute;
    color: white;
    font-size: 6em;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.read-more {
    margin-top: 50%;
}

footer {
    background-color: black;
}